AOS_Application - Copy/Web References/ProductionOrder/ProductionOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProdItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productionOrderNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdItemsResult" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDataTable">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetProdItemDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prodItemNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdItemDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdItemDetailsResult" type="tns:ProdItemBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProdItemBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProdItemNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Material" type="tns:MaterialBE" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdOrder" type="tns:ProdOrderBE" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:ProductBE" />
          <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemQty" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCompleted" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseStatus" type="tns:ResponseBE" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryItems">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MaterialBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaterialID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaterialUOM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaterialDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProdOrderBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PONumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PODate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductQty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="APISNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LotNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NeededBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsComplete" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Units" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseStatus" type="tns:ResponseBE" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInvItemDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prodItemNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvItemDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvItemDetailsResult" type="tns:InvItemBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InvItemBE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Container" type="tns:ContainerBE" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseStatus" type="tns:ResponseBE" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:ProductBE" />
          <s:element minOccurs="1" maxOccurs="1" name="Shipmentnumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WarehouseLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LotNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceivedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllocatedDocument" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllocatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippedDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsRemaining" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContainerBE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Container" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Units" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TareWeight" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProdItemAddTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prodItemNum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="units" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProdItemAddTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProdItemAddTransactionResult" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProdItemMove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prodItemNum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouselocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProdItemMoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProdItemMoveResult" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProdOrderTimer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prodOrderNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProdOrderTimerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateProdOrderTimerResult" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintLabelL1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invItemNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintLabelL1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintLabelL1Result" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintLabelL1FromAOS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invItemNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintLabelL1FromAOSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintLabelL1FromAOSResult" type="tns:ResponseBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResponseBE" nillable="true" type="tns:ResponseBE" />
      <s:element name="ProdItemBE" nillable="true" type="tns:ProdItemBE" />
      <s:element name="InvItemBE" nillable="true" type="tns:InvItemBE" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProdItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdItems" />
  </wsdl:message>
  <wsdl:message name="GetProdItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdItemDetails" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdItemDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvItemDetails" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvItemDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:ProdItemAddTransaction" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:ProdItemAddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveSoapIn">
    <wsdl:part name="parameters" element="tns:ProdItemMove" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveSoapOut">
    <wsdl:part name="parameters" element="tns:ProdItemMoveResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProdOrderTimer" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProdOrderTimerResponse" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1SoapIn">
    <wsdl:part name="parameters" element="tns:PrintLabelL1" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1SoapOut">
    <wsdl:part name="parameters" element="tns:PrintLabelL1Response" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSSoapIn">
    <wsdl:part name="parameters" element="tns:PrintLabelL1FromAOS" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSSoapOut">
    <wsdl:part name="parameters" element="tns:PrintLabelL1FromAOSResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdItemsHttpGetIn">
    <wsdl:part name="productionOrderNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProdItemsHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsHttpGetIn">
    <wsdl:part name="prodItemNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:ProdItemBE" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsHttpGetIn">
    <wsdl:part name="invNumber" type="s:string" />
    <wsdl:part name="prodItemNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:InvItemBE" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionHttpGetIn">
    <wsdl:part name="itemNumber" type="s:string" />
    <wsdl:part name="prodItemNum" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="units" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveHttpGetIn">
    <wsdl:part name="prodItemNum" type="s:string" />
    <wsdl:part name="warehouselocation" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerHttpGetIn">
    <wsdl:part name="prodOrderNo" type="s:string" />
    <wsdl:part name="action" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1HttpGetIn">
    <wsdl:part name="invItemNumber" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1HttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSHttpGetIn">
    <wsdl:part name="invItemNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="GetProdItemsHttpPostIn">
    <wsdl:part name="productionOrderNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProdItemsHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsHttpPostIn">
    <wsdl:part name="prodItemNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProdItemDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:ProdItemBE" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsHttpPostIn">
    <wsdl:part name="invNumber" type="s:string" />
    <wsdl:part name="prodItemNo" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInvItemDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:InvItemBE" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionHttpPostIn">
    <wsdl:part name="itemNumber" type="s:string" />
    <wsdl:part name="prodItemNum" type="s:string" />
    <wsdl:part name="type" type="s:string" />
    <wsdl:part name="units" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProdItemAddTransactionHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveHttpPostIn">
    <wsdl:part name="prodItemNum" type="s:string" />
    <wsdl:part name="warehouselocation" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProdItemMoveHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerHttpPostIn">
    <wsdl:part name="prodOrderNo" type="s:string" />
    <wsdl:part name="action" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProdOrderTimerHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1HttpPostIn">
    <wsdl:part name="invItemNumber" type="s:string" />
    <wsdl:part name="sessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1HttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSHttpPostIn">
    <wsdl:part name="invItemNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PrintLabelL1FromAOSHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseBE" />
  </wsdl:message>
  <wsdl:portType name="ProductionOrderSoap">
    <wsdl:operation name="GetProdItems">
      <wsdl:input message="tns:GetProdItemsSoapIn" />
      <wsdl:output message="tns:GetProdItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <wsdl:input message="tns:GetProdItemDetailsSoapIn" />
      <wsdl:output message="tns:GetProdItemDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <wsdl:input message="tns:GetInvItemDetailsSoapIn" />
      <wsdl:output message="tns:GetInvItemDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <wsdl:input message="tns:ProdItemAddTransactionSoapIn" />
      <wsdl:output message="tns:ProdItemAddTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <wsdl:input message="tns:ProdItemMoveSoapIn" />
      <wsdl:output message="tns:ProdItemMoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <wsdl:input message="tns:UpdateProdOrderTimerSoapIn" />
      <wsdl:output message="tns:UpdateProdOrderTimerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <wsdl:input message="tns:PrintLabelL1SoapIn" />
      <wsdl:output message="tns:PrintLabelL1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <wsdl:input message="tns:PrintLabelL1FromAOSSoapIn" />
      <wsdl:output message="tns:PrintLabelL1FromAOSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProductionOrderHttpGet">
    <wsdl:operation name="GetProdItems">
      <wsdl:input message="tns:GetProdItemsHttpGetIn" />
      <wsdl:output message="tns:GetProdItemsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <wsdl:input message="tns:GetProdItemDetailsHttpGetIn" />
      <wsdl:output message="tns:GetProdItemDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <wsdl:input message="tns:GetInvItemDetailsHttpGetIn" />
      <wsdl:output message="tns:GetInvItemDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <wsdl:input message="tns:ProdItemAddTransactionHttpGetIn" />
      <wsdl:output message="tns:ProdItemAddTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <wsdl:input message="tns:ProdItemMoveHttpGetIn" />
      <wsdl:output message="tns:ProdItemMoveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <wsdl:input message="tns:UpdateProdOrderTimerHttpGetIn" />
      <wsdl:output message="tns:UpdateProdOrderTimerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <wsdl:input message="tns:PrintLabelL1HttpGetIn" />
      <wsdl:output message="tns:PrintLabelL1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <wsdl:input message="tns:PrintLabelL1FromAOSHttpGetIn" />
      <wsdl:output message="tns:PrintLabelL1FromAOSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProductionOrderHttpPost">
    <wsdl:operation name="GetProdItems">
      <wsdl:input message="tns:GetProdItemsHttpPostIn" />
      <wsdl:output message="tns:GetProdItemsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <wsdl:input message="tns:GetProdItemDetailsHttpPostIn" />
      <wsdl:output message="tns:GetProdItemDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <wsdl:input message="tns:GetInvItemDetailsHttpPostIn" />
      <wsdl:output message="tns:GetInvItemDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <wsdl:input message="tns:ProdItemAddTransactionHttpPostIn" />
      <wsdl:output message="tns:ProdItemAddTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <wsdl:input message="tns:ProdItemMoveHttpPostIn" />
      <wsdl:output message="tns:ProdItemMoveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <wsdl:input message="tns:UpdateProdOrderTimerHttpPostIn" />
      <wsdl:output message="tns:UpdateProdOrderTimerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <wsdl:input message="tns:PrintLabelL1HttpPostIn" />
      <wsdl:output message="tns:PrintLabelL1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <wsdl:input message="tns:PrintLabelL1FromAOSHttpPostIn" />
      <wsdl:output message="tns:PrintLabelL1FromAOSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductionOrderSoap" type="tns:ProductionOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProdItems">
      <soap:operation soapAction="http://tempuri.org/GetProdItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <soap:operation soapAction="http://tempuri.org/GetProdItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <soap:operation soapAction="http://tempuri.org/GetInvItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <soap:operation soapAction="http://tempuri.org/ProdItemAddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <soap:operation soapAction="http://tempuri.org/ProdItemMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <soap:operation soapAction="http://tempuri.org/UpdateProdOrderTimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <soap:operation soapAction="http://tempuri.org/PrintLabelL1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <soap:operation soapAction="http://tempuri.org/PrintLabelL1FromAOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductionOrderSoap12" type="tns:ProductionOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProdItems">
      <soap12:operation soapAction="http://tempuri.org/GetProdItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <soap12:operation soapAction="http://tempuri.org/GetProdItemDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <soap12:operation soapAction="http://tempuri.org/GetInvItemDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <soap12:operation soapAction="http://tempuri.org/ProdItemAddTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <soap12:operation soapAction="http://tempuri.org/ProdItemMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <soap12:operation soapAction="http://tempuri.org/UpdateProdOrderTimer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <soap12:operation soapAction="http://tempuri.org/PrintLabelL1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <soap12:operation soapAction="http://tempuri.org/PrintLabelL1FromAOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductionOrderHttpGet" type="tns:ProductionOrderHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetProdItems">
      <http:operation location="/GetProdItems" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <http:operation location="/GetProdItemDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <http:operation location="/GetInvItemDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <http:operation location="/ProdItemAddTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <http:operation location="/ProdItemMove" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <http:operation location="/UpdateProdOrderTimer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <http:operation location="/PrintLabelL1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <http:operation location="/PrintLabelL1FromAOS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductionOrderHttpPost" type="tns:ProductionOrderHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetProdItems">
      <http:operation location="/GetProdItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdItemDetails">
      <http:operation location="/GetProdItemDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvItemDetails">
      <http:operation location="/GetInvItemDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemAddTransaction">
      <http:operation location="/ProdItemAddTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProdItemMove">
      <http:operation location="/ProdItemMove" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProdOrderTimer">
      <http:operation location="/UpdateProdOrderTimer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1">
      <http:operation location="/PrintLabelL1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintLabelL1FromAOS">
      <http:operation location="/PrintLabelL1FromAOS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductionOrder">
    <wsdl:port name="ProductionOrderSoap" binding="tns:ProductionOrderSoap">
      <soap:address location="http://192.168.1.52:81/aos_mobile_webservices/ProductionOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductionOrderSoap12" binding="tns:ProductionOrderSoap12">
      <soap12:address location="http://192.168.1.52:81/aos_mobile_webservices/ProductionOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductionOrderHttpGet" binding="tns:ProductionOrderHttpGet">
      <http:address location="http://192.168.1.52:81/aos_mobile_webservices/ProductionOrder.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductionOrderHttpPost" binding="tns:ProductionOrderHttpPost">
      <http:address location="http://192.168.1.52:81/aos_mobile_webservices/ProductionOrder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>